<div class="content">
	<div class="search-bar">
		<form [formGroup]="recipeSearch">
			<mat-form-field>
				<input matInput placeholder="Recipe Search" formControlName="search" color="dark">
			</mat-form-field>
		</form>
	
		<button mat-raised-button color="accent" (click)="onSearch()" type="button" [disabled]="recipeSearch.invalid">Search</button>
	</div>

	<div class="flex-container">
		<fdy-results-list [recipes]="recipes"></fdy-results-list>
	</div>
</div>

<div class="overlay" *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>