.content {
	padding: 20px;
	
	.search-bar {
		display: flex;
		flex-flow: row nowrap;
		align-items: baseline;
		
		form {
			flex-grow: 1;
			padding-right: 20px;
		
			mat-form-field {
				width: 100%;
			}
		}
	}
}